body {
    background-color: #aea4a0    ;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
  }
  #hoved {
    width: 60%;                  
    margin: 50px auto;          
    padding: 40px;	             
    background-color: rgba(255, 255, 255, 0.856); 	 
    border: 1px solid #ffffff; 
  }
  #meny {
    display: flex;
  }
  
  a {
    color: #ffffff;
    background-color: #887973;
    flex-grow: 1;
    margin: 10px;
    padding: 20px;  
    text-decoration: none;
    transition-duration: 1000ms;

  }
  a:hover{
    color:#887973;
    background-color: rgb(255, 255, 255);
    font-size: 200%;
}

a:active{
    color: rgb(255, 255, 255);
}

#meny img {
width: 110px;
}