/* angir font og posisjon for hele div-elementet*/
div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/* fargen til skriften */
#tittel {
    color: #0d53af;
}


/* bakgrunnsfarge */
#undertittel {
    background-color: yellow;
    color: black;
}


/* undertittel får kursiv skrifttype */
#uke {
    font-style: italic;
}


/* font, stil og farge til "linken" */
a {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-decoration: none;
    background-color: rgb(205, 205, 205);
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition-duration: 1000ms;
}


/* angir verdier for når klienten peker på linken */
a:hover{
    color: rgb(28, 80, 212);
    background-color: rgb(255, 247, 0);
    font-size: 200%;
}

/* angir verdier for linken når klienten trykker */
a:active{
    color: rgb(255, 255, 255);
}
