table {
    border-collapse: collapse;
    border-bottom: 1.5px solid #ffffff;
    margin: auto;
  }
  
  th,
  td {
    border: 1px solid #000000;
    padding: 8px;
  }
  
 
  
  .tabell {
    background-image: url(./bilder/bakgrunn2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .tabell1 {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(15, 63, 159, 0.6);
    margin: auto;
    width: 50%;
    margin-bottom: 50px;
  }
  
  a {
    margin-left: 600px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 7px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #688db3;
  }
  a:hover {
    background-color: #90acc9;
  }
  
  .meny{
    background-color: rgb(255, 255, 255);
    width: 40%;
    padding: 0.01;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 35;
    color: rgb(255, 255, 255);
    display: flex;
    margin: auto; 
    background-color: #688db3;
    overflow: hidden;
    border: #ffffff;}
  
  /* stil, posisjon til linkene i "menyen" */
  .meny a {
    width: 40%;
    margin: auto ;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 5px;}
  
  /* bytte farge på "hover" */
  .meny a:hover {
    background-color: #ffffff;
    color: #688db3;}
  
  .meny a:hover {
    background-color: #ffffff;
    color: #688db3;}
